@media only screen and (min-width: 0rem) {  
  .iepFooter {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  
  .iepFooter .iepContainer {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .iepFooter .iepTop {
    width: 100%;
    /* 32px - 40px */
    margin-bottom: clamp(2rem, 4vw, 2.5rem);
    padding-bottom: clamp(2rem, 4vw, 2.5rem);
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .iepFooter .iepUl {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    /* 28px - 40px */
    column-gap: clamp(1.75rem, 4vw, 2.5rem);
  }
  
  .iepFooter .iepLi{
    list-style: none;
  }

  .iepFooter .iepLink {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    transition: color .3s;
  }

  .iepFooter .iepLink:hover {
    color: var(--primary);
  }

  .iepFooter .iepLogo{
    width: 10.5rem;
    height: auto;
    display: block;
  }

  .iepFooter .iepLogoImg {
    width: 100%;
    height: auto;
    display: block;
  }

  .iepFooter .iepBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .iepFooter .iepSocial {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .iepFooter .iepSocialLi {
    list-style: none;
  }

  .iepFooter .iepSocialLink  {
    width: 2rem;
    height: 2rem;
    background-color: #e8e8e8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }

  .iepFooter .iepSocialLink:hover {
    background-color: var(--primary);
  }

  .iepFooter .iepSocialLink:hover .iepSocialIcon {
    filter: grayscale(1) brightness(1000%);
    opacity: 1;
  }
  
  .iepFooter .iepSocialIcon {
    width: 0.75rem;
    height: auto;
    display: block;
    opacity: .6;
    transition: opacity .3s;
  }

  .iepFooter .iepCopyright {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }

  .iepFooter .iepCopyrightLink {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
    transition: color .3s;
  }

  .iepFooter .iepCopyrightLink:hover {
    color: var(--primary);
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  .iepFooter .iepTop {
    flex-direction: row;
    justify-content: space-between;
  }

  .iepFooter .iepBottom {
    flex-direction: row;
    justify-content: space-between;
  }
}